* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

main {
  background: linear-gradient(
    rgba(56, 182, 255, 1) 50%,
    rgba(53, 75, 132, 1) 50%
  );
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "Poppins", "Arial";
  font-size: 30px;
  overflow: hidden;
}

.sol {
  background-color: #38b6ff;
  flex-grow: 0.5;
  display: flex;
  justify-content: space-between;
}
/* hola */
.titulo {
  background-image: url(/img/cloud.png);
  background-size: cover;
  background-position: center;
  flex-grow: 1.5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-repeat: no-repeat;
}

.lluvia {
  background-color: #354b84;
  flex-grow: 1;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
}

.mitad1 {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.boton {
  width: 25vw;
  height: 5vh;
  font-family: "Poppins", "Arial";
  font-size: 15px;
  border-radius: 20px;
  border: none;
  background-color: #ebaa36;
  margin-top: 10px;
}

.boton_llovera {
  display: none;
}

.imgsol {
  width: 40vw;
  height: 20vh;
  margin-top: 20px;
  margin-right: 20px;
}

.gota {
  width: 35px;
  margin-left: 10vw;
}
.imglluvia {
  width: 40vw;
  height: 17vh;
  margin-top: 20px;
  margin-right: 20px;
}

@media screen and (min-width: 400px) {
  main {
    background-color: #38b6ff;
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: "Poppins", "Arial";
    font-size: 30px;
  }
  .sol {
    flex-grow: 0.2;
  }

  .imgsol {
    width: 200px;
    height: 200px;
  }

  .imglluvia {
    width: 200px;
    height: 180px;
  }

  .titulo {
    background-color: #38b6ff;
    background-size: 2000px 1000px;
    background-position: top;
    flex-grow: 1.5;
    display: flex;
    justify-content: start;
    flex-direction: column;
    background-repeat: no-repeat;
  }
  .lluvia {
    display: none;
  }

  .mitad1 {
    margin-top: 20vh;
  }

  .boton {
    display: none;
  }
  h1 {
    display: none;
  }

  .boton_llovera {
    display: block;
    width: 25vw;
    height: 6vh;
    font-family: "Poppins", "Arial";
    font-size: 25px;
    border-radius: 50px;
    background-color: #ebaa36;
    border: 2px black solid;
    min-width: 300px;
  }
}
